- @email_logo = true
%h1 Greetings!
%br
%p This is an important reminder from Makers, Artists and Gadgeteers Laboratory.
%br
%p If you were following the general meetings, facebook or google groups, you will know that we have some pending bylaws changes that need approval. If you haven't been following it, I'm telling you now! (And you really should check them out, they're pretty cool.)
%br
%p
  We will open a ballot on Facebook and Google Groups on May 1 through May 7 as a special vote to approve the bylaws changes. The May 2nd General Meeting will be open to paper ballots for those who do not want to make their vote publicly available. (You can't vote anonymously, but can vote discretely via paper ballot.) The thread on Google Groups with the proposed vs old bylaws is here:
  %a(href="https://groups.google.com/forum/?fromgroups#!topic/maglaboratory/-_zP7Nx3hpw") Proposed changes to the Bylaws.
%br
%p If you have any concerns with the new changes, please let me know either by email ( treasurer@maglaboratory.org ), or in the google groups thread or directly at the general meeting on May 2nd. 
%br
%p
  Thanks,
  %br
  Hong
  %br
  Treasurer
  %br
  MAG Lab

- @extra_rows = [partial('skeleton_footer.php')]
