- @email_logo = true
%h1 Annual Meeting 10/2/16 Reminder, Agenda, and Announcement
%br
%p We will be having our annual meeting again this year on 10/2/16 at MAGLab from 3pm to 7pm proceeded by a potluck.  If you missed our previous announcements about it, we hope you get this one and can attend!
%br
%p
  During this annual meeting we will be having some pretty important re-organizing
  and discuss about MAGLab's structure, and all are invited to attend!
  Participation is key to the success of MAGLab and we need everyone to step out of the weeds to help express their interest in the community and decide our direction for the next year.
  This means decisions on who y'all think could lead MAGLab, as well as coming up with new fun ways to use MAGLab and try new things.
%br
%p
  We've put together an annual meeting agenda that can be found here:
  <a href="https://docs.google.com/document/d/1xSwzIwOM6SsGB1pbDKu7CvxTHqTFA6gUotNH2iyeup4/edit?usp=sharing">Annual Meeting Agenda 2016 MAGLab</a>
%br
%p
  There will be time for unscheduled issues to be discussed for those that show.
%br
%p
  Brief summary:

  %ul
    %li -officer and board positions (all positions are open, and some incumbents are either running for different positions or not running this year or have moved away)
    %li -discussion of direction of maglab
    %li -space progress and status reports
    %li -bylaws discussion
    %li -curator position
%br
%p Additionally, I am officially announcing that I will not be continuing my position as president of MAGLab, nor will I be running for any other leadership positions for personal reasons.  I will still be around to advise anyone who fills the position as well as other officer positions where the incumbent is replaced.
%br
%p If you cannot attend in person, please contact me or make yourself heard via any one of our communication streams and we will set up remote participation for you.
%br
%p
  Regards,
  %br
  Trenton Wilson
  %br
  President <president@maglaboratory.org>
  %br
  MAG Lab

- @extra_rows = [partial('skeleton_footer.php')]
