- @email_logo = true
%h1 2017 Annual Meeting
%br
%p This is an important message from MAGLab.
%br
%p Hi everyone!
%br
%p Summer is ending, which means it's that time of the year again...MAGLab's annual meeting is coming up.
%br
%p It has been tentatively scheduled for Saturday, September 30, 2017 at 5pm. Based on previous annual meetings, it is expected to last 2 to 4 hours.
%br
%p The annual meeting is very important for the organization. Attendance is highly encouraged (and necessary for quorum).
%br
%br
%p Important topics of discussion:
%br
%p
  %ul
    %li Voting of Executive Officers (President, Treasurer, Secretary)
    %li Voting of Board of Directors and other positions
    %li Update on our nonprofit filing with the IRS and CA FTB (state)
    %li Review of MAGLab, past, present, future and direction for the coming year
    %li Assessment of Bylaws and accompanying policies
    %li Strategies for activities, growth, etc
    %li Member concerns, comments, etc
    %li Incoming Board Members and Executive Officers will receive a booklet detailing duties and responsibilities
%br
%p We will have remote attendance options available. Likely Skype or Google Hangouts...maybe even conference call. Let us know if you would like to attend remotely.
%br
%p Proxy attendance/voting can also be made available. For those who need it, please let us know in writing (email or text message will count) who your designated proxy shall be.
%br
%p Please let us know if you will be available or not on September 30, 2017 and what time would be best for that day.
%br
%p As of last month's membership count, we will need at least 12 members in attendance for quorum. Please check your schedules. The meeting can not take place without quorum.
%br
%p Another notice will go out in a few weeks, after we get input and finalize the time. That second notice will be the official notice of meeting and will open up nominations for officers and Board of Directors.
%br
%p
  Kind Regards,
  %br
  Hong
  %br
  Treasurer
  %br
  MAG Lab

- @extra_rows = [partial('skeleton_footer.php')]
