- @email_logo = true
%h1 2019 Annual Meeting Official Notice
%br
%p This is an important message from Makers, Artists, and Gadgeteers Laboratory Inc.
%br
%p To all members and friends of MAGLab,
%br
%p It's that time of the year again: The annual meeting is coming up! This is the most important meeting of the year for us as an organization. It is scheduled for the last Saturday of August, the 31st at 5pm.
%br
%p Please mark it on your calendar: August 31, 2019 at 5 pm Pacific Time. Based on previous annual meetings, it is expected to last anywhere from 1 to 4 hours--most likely around 2 hours. There will be a short break every 1 hour or so.
%br
%p Remote or teleconference options will be provided, stay tuned for details. If you need special accomodations, don't hesitate to send an email to the contact email address ( contact@maglaboratory.org ). If you can make it in person, please do so because it is better for communication.
%br
%p Proxy attendance/voting can also be made available. For those who need it, please let us know in writing (email or text message will count) who your designated proxy shall be.
%br
%p Based on June membership numbers, we need at least 12 members to be present to have quorum. Guests are welcome to attend, comment and provide feedback, but please note that only votes from active members will be tallied. We can not make binding decisions without quorum. Please make your best attempt to attend.
%br
%p An important agenda item this year is that our president, Brian Seo, will be stepping down. We will need to elect a replacement, or place someone as an interim Acting President.
%br
%p Important topics of discussion:
%br
%p
  %ul
    %li Update on our financial situation and budget [1]
    %li Voting of Executive Officers (President, Treasurer, Secretary)
    %li Voting of Board of Directors and section lead positions, most importantly Curator
    %li Review of MAGLab, past, present, future and direction for 2020
    %li Assessment of Bylaws and accompanying policies
    %li Strategies for activities, growth, etc
    %li Member concerns, comments, etc
%br
%p Nominations for Directors (Board of Directors/Board Member) and Executive Officer positions (President, Secretary, Treasurer) are now open. In order to avoid forgotten nomination issues, I hereby nominate all current board members to the board and all current executives to their corresponding positions.
%br
%p [1] As a tidbit of good news compared to previous years, we had a net income of $280 in 2018. However, expenses will be increasing this upcoming year--estimated to be around $60-120 a month. Any ideas for increasing income or membership would be most appreciated.
%br
%p
  Thank you everyone, and I hope to see you there,
  %br
  Hong
  %br
  Treasurer
  %br
  MAG Lab

- @extra_rows = [partial('skeleton_footer.php')]
