%tr
  %td
    %hr
    %p{:style => 'font-size: normal; font-weight: bold'}
      A separate email with an invitation link to join MAG Lab's members section has been sent out with the subject "Invitation to join MAGLaboratory". Please set up your account when you have time--it will be an important part of regular membership later and aids in record-keeping. If you have issues or did not receive it, please email contact@maglaboratory.org
    %hr
    %p{:style => 'font-size:small;'}
      (Please ignore this message if you pay with cash.)
      Your recurring payment profile on Paypal  will be updated to the newest price starting January 1.
      If you want to cancel, please see the instructions on this page:
      %a{:href => 'http://www.wikihow.com/Cancel-a-PayPal-Subscription'} How to Cancel a Paypal Subscription
      As a courtesy, please also send an email to contact@maglaboratory.org to let us know why. Thank you.

    %h2{:style => 'border: 1px solid black;text-align:center;'}
      %a{:href => "http://www.maglaboratory.org/donate", :style => 'text-decoration:none;color:'} Click here to Donate

    %h2{:style => 'border: 1px solid black;text-align:center;'}
      %a{:href => "http://www.maglaboratory.org/subscribe", :style => 'text-decoration:none;color:'} Subscribe to (Weekly) Mailing List

