%tr
  %td
    %hr
    
    %h2{:style => 'border: 1px solid black;text-align:center;'}
      %a{:href => "http://www.maglaboratory.org/membership", :style => 'text-decoration:none;color:'} Click to Resubscribe to General Membership through Paypal

    %h2{:style => 'border: 1px solid black;text-align:center;'}
      %a{:href => "http://www.maglaboratory.org/donate", :style => 'text-decoration:none;color:'} Click here to Donate

    %h2{:style => 'border: 1px solid black;text-align:center;'}
      %a{:href => "http://www.maglaboratory.org/subscribe", :style => 'text-decoration:none;color:'} Subscribe to (Weekly) Mailing List

