%tr
  %td
    %hr
    %p{:style => 'font-size: normal; font-weight: bold'}
      Please email contact@maglaboratory.org if you have any questions.
    %hr
    %p{:style => 'font-size:small;'}
      A small note
    %h2{:style => 'border: 1px solid black;text-align:center;'}
      %a{:href => "http://www.maglaboratory.org/donate", :style => 'text-decoration:none;color:'} Click here to Donate

    %h2{:style => 'border: 1px solid black;text-align:center;'}
      %a{:href => "http://www.maglaboratory.org/subscribe", :style => 'text-decoration:none;color:'} Subscribe to (Weekly) Mailing List
      
    %h2{:style => 'border: 1px solid black; text-align:center;'}
      %a{:href => "https://groups.google.com/forum/?fromgroups#!forum/maglaboratory", :style => 'text-decoration:none;'} Google Groups/Forum
      
    %h2{:style => 'border: 1px solid black; text-align:center;'}
      %a{:href => "http://webchat.freenode.net?channels=%23MAGLaboratory", :style => 'text-decoration:none;'} IRC (freenode: #MAGLaboratory)
    
    %h2{:style => 'border: 1px solid black; text-align:center;'}
      %a{:href => "https://www.facebook.com/MAGLaboratory/", :style => 'text-decoration:none;'} Facebook

