- @email_logo = true
%h1 Special Vote
%br
%p This is an important message from MAGLab.
%br
%p This is an official ballot measure to adopt the new bylaws available here: https://groups.google.com/forum/?fromgroups#!topic/maglaboratory/-_zP7Nx3hpw
%p
  The vote is open on
  %a(href="https://www.facebook.com/groups/MAGLaboratory/permalink/1291365954244775/") Facebook Group
  and
  %a(href="https://groups.google.com/forum/?fromgroups#!topic/maglaboratory/wVhd-OPzndI") Google Groups.
  The May 2nd general meeting will be used to collect paper ballots. You may also reply to this email to cast your vote.
%br
%p Please reply with one of the following: Approve or Deny. You may also abstain by not replying or "Abstain".
%br
%p
  Thanks,
  %br
  Hong Q.
  %br
  Treasurer
  %br
  MAG Lab

- @extra_rows = [partial('skeleton_footer.php')]
