- @email_logo = true
%h1 Howdy!
%br
%p We wanted to send out this email to reach out and make sure you're aware of some recent important goings on around MAG Lab.  As you likely already know, some of the members meet weekly to discuss things like scheduling events, outreach, projects, and making sure the bills get paid.  What you may not know, is that we hold annual meetings to elect officers and discuss major structural things to the organization, such as bylaws and goals, as well as the past years' performance and what that means for the future of MAG Lab.  We typically gauge MAG Lab's performance on membership growth/loss, events, and sustainability.
%br
%p During the meeting, we discussed the ups and downs over the past year, and reached back to consider the reasons we opened in the first place to compare then and now.  As a whole, we've accomplished a lot by both physically improving the shop, and inspiring critical thinking and passion for STEAM projects and fields.  We've researched new topics, we've built rooms, we've taught classes, and all the while pursuing all our own individual passions through project based learning.
%br
%p Our last annual meeting was this past December, and based off of the prior years' slump and achingly slow recovery of members we decided to make a rallied push towards sustainability and growth of MAG Lab till the end of February, where we will assess our performance and make a final decision on the fate of MAG Lab and where to go from there.
%br
%p No matter the route, change is afoot, and if you would like to contribute to the conversation about MAG Lab, please make it in this Saturday February 27th by 8pm for the meeting.  If you can't make it to the meeting this Saturday and wish to contribute, we encourage you to contact the MAG Lab email (contact@maglaboratory.org) with opinions, or just plain show your support by means of donations or membership.  We need to hear from the community to make an informed decision!
%br
%p
  Trent
  %br
  President
  %br
  MAG Lab
  %br
  %a{:href => 'mailto:president@maglaboratory.org'} president@maglaboratory.org
  %a{:href => 'mailto:contact@maglaboratory.org'} contact@maglaboratory.org

- @extra_rows = [partial('feb27_2016_footer.php')]
