- @email_logo = true
%h1 Happy New Years!
%br
%p
  This is Hong, the webmaster of maglaboratory.org. A few weeks ago, you should have received a email about the necessary price increase to keep MAGLab afloat. The updated pricing is now in effect.

%p
  If you did not receive the email, you can read its contents here:
  %a{:href => 'https://groups.google.com/forum/?fromgroups#!topic/maglaboratory/hl4M34sUWt0'} https://groups.google.com/forum/?fromgroups#!topic/maglaboratory/hl4M34sUWt0

%p
  Unfortunately, Paypal will not let us update your subscription pricing automatically. I have to ask you to resubscribe by clicking the link at the bottom of this email. Your current subscription was already suspended before sending this email. It's entirely my fault for not checking this beforehand. Sorry!

%p
  You can also click here to go to the
  %a{:href => 'http://www.maglaboratory.org/membership'} Membership Page

%p
  I am very sorry for the inconvenience especially so early in the New Year. Thank you for being a member and here's to another year of making great things with great people!

%br
%p
  Kind Regards,
  %br
  Hong
  %br
  MAG Lab

- @extra_rows = [partial('general_resubscribe_footer.php')]
