- @email_logo = true
%h1 Greetings!
%br
%p This is an important message from MAGLab.
%br
%p
  Kind Regards,
  %br
  Trent Wilson
  %br
  President
  %br
  MAG Lab

- @extra_rows = [partial('skeleton_footer.php')]
