#main-container.container
  %h1 Key Holders
  
  %button.btn.btn-primary(type="button" data-toggle="modal" data-target="#add-keyholder") Add Keyholder
  
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Keycode
        %th Person
        %th Start
        %th End
        %th Actions
    %tbody
      <?php foreach($this->data->keyholders AS $keyholder){ ?>
      %tr
        %td <?php echo $keyholder->id; ?>
        %td <?php echo $keyholder->keycode; ?>
        %td <?php echo $keyholder->person; ?>
        %td <?php echo $keyholder->start_at ? date('F d, Y', $keyholder->start_at) : ' '; ?>
        %td <?php echo $keyholder->end_at ? date('F d, Y', $keyholder->end_at) : ' '; ?>
        %td
          Edit
          End
      <?php } ?>
  
  #add-keyholder.modal.fade(tabindex="-1" role="dialog" aria-labelledby="addKeyholderLabel")
    .modal-dialog.modal-lg
      .modal-content
        %form(action="/members/keyholders" method="post")
          .form-group
            %label(for="person") Person (Name)
            %input.form-control#person
