#main-container.container
  %form#login-form.form-horizontal(action='/members/login' method='post')
    .form-group
      %label.col-sm-2.control-label{:for => 'email'} Email
      .col-sm-10
        %input#email.form-control{:type => 'email', :placeholder => 'you@maglaboratory.org', :name => 'email'}
    .form-group
      %label.col-sm-2.control-label{:for => 'password'} Password
      .col-sm-10
        %input#password.form-control{:type => 'password', :name => 'password', :placeholder => '***'}
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default{:type => 'submit'} Login
        %p.help-block
          %a(href="/members/forgot_password") Forgot Password?
