#main-container.container
  .row
    .col-xs-12.col-md-6
      %h1 General Membership
      %p General Membership costs $40/month and entitles you to:
      
      %ul
        %li
          come to the space when a key member is present to open the doors
        %li
          use any of our machines (after a quick safety test and verification that you can use the machine safely)
        %li
          use all publicly available materials free of charge
        %li
          bring a guest to the space to help you work on projects
      
      %p
        You may use the Paypal subscription below to set up a recurring payment profile or you can choose to pay by cash directly to one of the officers during the Tuesday business meeting days.
      
      %p{:style => 'text-align: center;'}
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="QFSJ8MX7C5L8L">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      

      
    .col-xs-12.col-md-6
      %h1 Keyed Membership
      %p
        Keyed Members get a key to the space allowing you to come to the space at any time.
        You don't have to but it would be nice if you open the doors to General Members while you are there.
      %p
        We ask that all keyed members try out the space first as a General Member. When you are ready to pick up a key, please contact one of the officers or other key members. It will usually be accepted during the subsequent Tuesday meeting and you will update your subscription to receive your keycard.
      
      %p
        Keyed Membership costs $90/month and entities you to:
      
      %ul
        %li
          %strong all the General Membership items
        %li
          a key to the space to open the doors whenever
        %li
          responsibility to close the doors and lock up when leaving
        %li
          officer positions if you're interested in helping with MAG Lab business or administration affairs (on a volunteer basis)
  .row
    .col-xs-12
      %h2 Members Section
      %p
        All members will have an account created in our
        %a{:href => '/members'} Members Section
        to manage billing history and basic contact information.
    .col-xs-12
      %h2 Plans
      %p The following are plans for the future concerning membership. They may or may not be implemented:
      
      %ul
        %li
          Every member gets an rfid card. Key members use the same card to open the door. General and Keyed use the cards to activate/reserve a machine.
          This ensures only members that pass the safety test and verified safe to use machines can be used.
          Helps avoid dangerous situations like self-maiming and loss of limb from misuse of hardware.
