%h1 Password Reset
%br
%p
  We received a forgot password request. If you did not initiate this request,
  please continue to reset your password anyway and let a maglaboratory admin know.
%p
  The link will expire in 1 hour.
%br
%p
  %a{:href => echo('$reset_url')} Click here
  to reset your password.
%br
%p
  If the link above doesn't work, copy and paste this into your browser:
  != echo('$reset_url')

