.container{:style => 'margin-top: 100px;'}
  .row
    .col-md-12
      - panel_body = capture_haml do
        .panel-body
          %table.table-striped.table-hover{:style => 'width: 100%;'}
            %thead
              %tr
                %th Sensor
                %th Status
                %th Last Change
                %th
            %tbody
              <?php date_default_timezone_set('America/Los_Angeles'); ?>
              <?php foreach($this->data->latestStatus as $sensor => $v){ ?>
              %tr
                %td <?php echo $sensor; ?>
                %td <?php echo $v[0]; ?>
                %td <?php echo($v[1] ? date('M j, Y g:i A T', $v[1]) : 'NEVER'); ?>
                %td
                  <?php if($v[1]){ ?>
                  %time.timeago{'datetime' => "<?php echo date('c', $v[1]); ?>"}
                  <?php } ?>
              <?php } ?>
              
              
      <?php if($this->data->isOpen){ ?>
      .panel.panel-success
        .panel-heading
          %h1.panel-title{:style => 'font-size: 16px;'}
            We are
            %strong OPEN
        != panel_body
      <?php } else { ?>
      .panel.panel-danger
        .panel-heading
          %h1.panel-title{:style => 'font-size: 16px;'}
            We are
            %strong CLOSED
        != panel_body
      <? } ?>

%script{:src => '/js/timeago.js'}

:javascript
  $(function(){
    $('time.timeago').timeago();
  });
