.container{:style => 'margin-top: 100px;'}
  .row
    .col-md-12
      - panel_body = capture_haml do
        .panel-body
          %table.table-striped.table-hover{:style => 'width: 100%;'}
            %thead
              %tr
                %th Sensor
                %th Status
                %th
                %th Last Update
            %tbody
              <?php date_default_timezone_set('America/Los_Angeles'); ?>
              <?php foreach($this->data->latestStatus as $sensor => $v){ ?>
              %tr
                %td <?php echo $sensor; ?>
                %td <?php echo $v[0]; ?>
                %td
                  <?php if($v[1]){ ?>
                  %time.timeago{'datetime' => "<?php echo date('c', $v[1]); ?>"}
                  <?php } ?>
                %td <?php echo($v[1] ? date('M j, Y g:i A T', $v[1]) : 'NEVER'); ?>
              <?php } ?>
              
      <?php if($this->data->isTechBad){ ?>
      #activity_panel.panel.panel-warning
        .panel-heading
          %h1.panel-title
            We are
            %strong HAVING TECHNICAL DIFFICULTIES
        
          %%h2 Details below are outdated. Please check back later.
        != panel_body
      <?php } elseif($this->data->isOpen){ ?>
      #activity_panel.panel.panel-success
        .panel-heading
          %h1.panel-title
            We are
            %strong OPEN
        != panel_body
      <?php } else { ?>
      .panel.panel-danger
        .panel-heading
          %h1.panel-title
            We are
            %strong CLOSED
        != panel_body
      <?php } ?>

%script{:src => '/js/timeago.js'}

:javascript
  $(function(){
    $('time.timeago').timeago();
  });
  
- @head_style = capture_haml do
  :css
    #activity_panel td { font-size: 18px; }
    #activity_panel th { font-size: 20px; }
    #activity_panel .panel-title { line-height: normal; font-size: 50px; }
